body {
    background-color: rgb(233, 233, 233);
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
    color: chartreuse;
    -webkit-text-stroke: 2px darkslategray;
    text-shadow: 3px 2px #1f1e1e1a;
}

p {
    font-family: 'Raleway', sans-serif;
}

img {
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.07);
}